.navbar {
    background-color: #888;
    border: 1px solid red;
    display: flex;
    justify-content: start;
    gap: 20px;
    align-items: center;
    min-height: 10vh;
    max-height: 10vh;
}

.navbar img{
    max-width: 10vw;
    background-color: #fff;
    background-size:cover;
}

.logoCito {
    height: 100%;
}