.task-card {
    width: 300px;
    background-color: rgb(235, 235, 213);
    border-radius: 25px;
    margin-bottom: 10px;
}

#card-header{
    font-size: 14px;
    font-weight: bolder;
    background-color: #05a;
    color:#fff;
    padding-top: 2px;
    padding-bottom: 5px;
    padding-left: 10px;
    border-radius: 10px 10px;
}

#card-description {
    background-color: #fff;
    padding: 2px 5px;
    font-size: 12px;
}

#card-data {
    padding: 2px 5px;
    font-size: 12px;
    text-align: start;
}

#card-button-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}