* {
    border: 1px solid red;
}

#task-header {
    text-align: center;
    
}

.task-column {
    width: 50%;
    border: 2px solid #F0F;
}

#task-column-headers {
    display: flex;
    border: 1px solid red;
    flex-direction: row;
    justify-content: space-around;
}

#task-container {
    border: 2px solid #F0F;
}