.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #eee;
    border: 1px solid red;
    
}

.page-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100vw;
    height:87.75vh;
    border: 1px solid red;
}

.page-content * {
    list-style: none;
}

.page {
    position: relative;
    
}